@use '../../styles/global' as *;

.modalSubscription {
  &__container {
    padding: 1.875em;
    width: 290px;
    border-radius: 0.625rem;
    word-break: normal;
    text-overflow: ellipsis;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}

.btn {
  width: 238px;
  height: 25px;
  font-size: 0.786rem;
  margin-bottom: 0.8em;
}

.text {
  font-weight: 500;
  font-size: 0.714rem;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  word-break: normal;
  text-align: center;

  &--grey {
    color: #818181;
  }

  &--lilac {
    color: #af9cfb;
  }

  &--margin-bottom-40 {
    margin-bottom: 2.5em;
  }

  &--margin-bottom-10 {
    margin-bottom: 0.625em;
  }

  &--bold {
    font-weight: 600;
  }

  &--font-size-12 {
    font-size: 0.857rem;
  }

  span.subscription {
    color: #7a5af8;
  }
}
