@use '../../../styles/global' as *;

.chapters {
  z-index: 9999;
  position: fixed;
  top: 104px;
  right: 0;
  @include flex($dir: column, $gap: 0.43em);
  background: #f6f6f6;
  padding: 0.74em;

  & > * {
    background: white;
  }

  &__btn {
    padding: 0;
    background-color: transparent;
    border: none;
  }
}
