@use '../../../styles/global' as *;

.chapter {
  width: 100%;
  padding: 0.5em;
  @include flex($justify: flex-start);
  border-radius: 10px;
  @include themeSideBarLine;
  @include themeText;
  &--ridden {
    @include themeSideBar;
  }

  &__views-icon {
    margin-right: 0.7em;
  }

  &__like-icon {
    margin-right: 0.2em;
  }

  &__text-container {
    margin-right: 10em;
  }

  &__time-code {
    @include themeText;
    font-size: 0.72rem;
    font-weight: 500;
    line-height: normal;
  }

  &__text-chapter {
    @include themeText;
    font-size: 0.86rem;
    font-weight: 500;
    line-height: normal;
  }
}
