@use '../../../../styles/global' as *;
.notification {
  background-color: #ffead2;
  color: #ff8800;
  width: 290px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}
