@use '../../../styles/global' as *;

.bg {
    height: 100dvh;
    z-index: 100;
    background: rgba(129, 129, 129, 0.4);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bookmarkmenu {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FFFFFF;
    padding: 1.2em .6em .71em 1.78em;

    &__container {
        @include flex($justify: space-between, $align: flex-start);
    }

    &__title {
        font-weight: 600;
        font-size: 1rem;
        line-height: 17px;
        color: #2D283E;
        margin-bottom: .78em;

    }

    &__close-btn {
        position: relative;
        top: -5px;
        border: none;
        background: transparent;
        padding: 0;

    }
}

.bookmarks {
    @include flex($dir: column, $gap: 7px, $align: flex-start);

    &__item {

        font-size: .8rem;
        line-height: 22px;
        font-weight: 600;
        padding: 0;
        background: transparent;
        border: none;

        &--add {
            @include flex($gap: 6px);
            color: $main-color;
        }

        &--remove {
            color: #E54545;
        }
    }

    &__container {
        position: relative;
    }

    &__input {

        background: #F2EFFE;
        font-weight: 500;
        font-size: .8rem;
        line-height: 22px;
        color: #8a869b;
        border-radius: 562px;
        padding-left: .83em;
        border: none;
        min-width: 280px;

        &::placeholder {
            font-weight: 500;
            font-size: .8rem;
            line-height: 22px;
            color: #CABDFC;
        }




    }
}

.add-btn {
    position: absolute;
    padding: 0;
    border: none;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}