.add-article {
    &__link {
        margin-bottom: .65em;
    }

    &__title {
        font-weight: 600;
        font-size: 1.43rem;
        line-height: 24px;
        margin-bottom: 1.2em;
    }

    &__content {
        padding: 1.28em .72em 1.5em;
        border-radius: 10px;
        background-color: white;
    }

}