@use '../../styles/global' as *;

.data-container {
  @include flex($justify: space-between, $align: center);
}

.data-flex {
  @include flex($gap: 6px);
}

.link {
  margin-bottom: 0.64em;
}

.inner-container {
  @include themeSectionBackground;
  border-radius: 10px;
}

.padding {
  padding-top: 0.5em;
}

.buttons {
  @include flex($justify: space-between);
}

.comments-container {
  padding-top: 1em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.article {
  &__container {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    @include themeSectionBackground;
  }

  &__title {
    font-weight: 600;
    font-size: 1.43rem;
    line-height: 24px;
    text-align: center;
    @include themeText;
    margin-bottom: 0.71em;
  }

  &__category {
    margin: 0 auto;
    max-width: 174px;
    padding: 8px 10px;
    background: #e4defe;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    font-size: 0.79rem;
    line-height: 13px;
    color: #957bf9;
    margin-bottom: 0.73em;
  }

  &__cover {
    object-position: top;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin-bottom: 1.43em;
  }

  &__author {
    font-weight: 700;
    font-size: 0.79rem;
    line-height: 13px;
    color: #7a5af8;
  }

  &__data {
    font-weight: 700;
    font-size: 0.79rem;
    line-height: 13px;
    color: #7a5af8;
  }
}
