@use '../../styles/global' as *;

.tom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 18fr;
    gap: .35em;
    justify-items: start;
    align-items: center;
    padding-left: .71em;
    padding-right: .71em;
    min-height: 35px;
    border-bottom: 1px solid #4D37A5;



    &__show-btn {
        display: flex;
        border: none;
        background: transparent;
        padding: 0;
        transform: rotate(0deg);
        transition: all .3s;

        &--active {
            transform: rotate(-180deg);
        }
    }

    &__edit-btn,
    &__add-btn {
        justify-self: end;
        display: flex;
        width: 14px;
        height: 14px;
        border: none;
        background: transparent;
        padding: 0;
    }

    &__title {
        display: block;
        max-width: 50px;
        padding: 0;
        border: none;
        background: transparent;
        font-weight: 600;
        font-size: .86rem;
        line-height: 15px;
        color: black;
        @include focus;
    }
}