$device-S: 320px;

$device-XS: 576px;

$device-M: 768px;

$device-XM: 876px;

$device-L: 992px;

$device-PC: 1024px;

$device-XL: 1200px;

$device-XXL: 1400px;

$main-color: #7a5af8;
$black-color: #2d283e;
$primary-color: #7a5af8;

$light-background: #f6f6f6;
$dark-background: #2d283e;
