@use '../../styles/global' as *;

.profile-header {
  background: white;

  @include mediaMin($device-XL) {
    position: relative;
    top: 25px;
    background: transparent;
    max-width: calc(2560px + 2 * clamp(5rem, 12.587vw - 1.905rem, 15.357rem));
    padding-left: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
    padding-right: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
  }
}

.profile {
  &__img {
    width: 85px;
    height: 85px;
    border: 6px solid white;
    border-radius: 200px;

    @include mediaMin($device-XL) {
      width: 120px;
      height: 120px;
    }

    @include mediaMin($device-XXL) {
      width: 181px;
      height: 181px;
    }
  }

  &__avatar-container {
    z-index: 10;
    position: relative;
    top: 80px;

    @include mediaMin($device-XL) {
      top: 70px;
    }

    @include mediaMin($device-XXL) {
      top: 95px;
    }
  }

  &__wallpaper {
    display: flex;
    justify-content: center;
    align-items: end;
    height: clamp(4.429rem, 7.688vw + 2.671rem, 13.214rem);

    background-image: url('./../../../public/profile-wallpaper-new.svg');
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-bottom: 4em;

    @include mediaMin($device-XL) {
      background-position: top;
      margin-bottom: 0;
    }
  }

  &__details {
    color: $main-color;
    font-size: 0.86rem;
    font-weight: 600;
    @include flex($gap: 0.5em, $align: end);
    line-height: normal;

    margin-bottom: 2.5em;
  }

  &__change {
    color: $main-color;
    font-size: 0.86rem;
    font-weight: 600;
    @include flex($gap: 0.5em, $align: end);
    line-height: normal;
    margin-bottom: 2.5em;
  }
}

.tabs {
  background-color: white;

  @include mediaMin($device-XL) {
    background-color: transparent;
  }

  &__items {
    padding-top: 1em;
    background-color: #f6f6f6;
    padding-bottom: 0.5em;

    @include mediaMin($device-XXL) {
      padding-top: 5em;
      margin-left: 22.9em;
      margin-bottom: clamp(1.786rem, 4.231vw - 2.445rem, 3.357rem);
    }
  }

  &__public-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #7a5af8;
    border-radius: 560px;
    color: #7a5af8;
    background: transparent;
    font-size: 0.78rem;
    font-weight: 500;
    line-height: normal;
    padding: 0.5em 4.7em;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.save-btn {
  @include flex($gap: 0, $justify: center, $align: center, $dir: row, $wrap: nowrap);
  padding: 10px 24px;
  gap: 10px;
  background: #7a5af8;
  border-radius: 999px;
  color: white;
  border: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1.1em;
}

.label {
  &__input {
    @include focus($outline: 1px solid #807d7d);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
    border: none;
    border-radius: 562px;
    padding: 0.5em 1em;
    color: black;
    background-color: #f2effe;
    text-align: left;
    width: 100%;

    &::placeholder {
      color: #cabdfc;
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 15px;
    }

    &--error {
      background: #e545451a;
      color: #e54545;
    }

    &--success {
      background: #0f99181a;
      color: #0f9918;
    }
  }

  &__textarea {
    resize: none;
    width: 100%;
    min-height: 150px;
    @include focus($outline: 1px solid #807d7d);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
    border: none;
    padding: 0.5em 1em;
    color: black;
    background-color: #f2effe;
    text-align: left;
    border-radius: 10px;

    &::placeholder {
      color: #cabdfc;
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 15px;
    }
  }
}

.birth-date {
  &__input {
    width: fit-content;
  }
}

.radio-btn {
  &__label {
    @include flex($gap: 0.8em, $justify: flex-start);
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.8em;
    margin-bottom: 2.25em;

    &:has(input:checked) {
      & > span {
        background-image: url('/si_check-fill.svg');
        background-repeat: no-repeat;
      }
    }

    &:has(input:active) {
      & > span {
        box-shadow: 0px 0px 0px 4px #e4defe;
      }
    }
  }

  &__circle {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    border: 1px solid $main-color;
    border-radius: 4px;
    transition: all 0.4s;
  }

  &__input {
    display: none;
  }
}

.profile-settings-form {
  &__password-container {
    position: relative;
    width: 100%;
  }

  &__visibility {
    position: absolute;
    top: 4px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  &__text-label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
  }

  &__label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    @include flex($dir: column, $gap: 0.4em, $align: flex-start);
    margin-bottom: 1.8em;
    position: relative;
  }

  &__radio-btn-container {
    @include flex($dir: row, $justify: space-between, $align: flex-start, $wrap: nowrap);
  }

  &__add-link {
    @include flex($gap: 1em, $justify: flex-start);
    color: #7a5af8;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.8em;
    margin-bottom: 2.25em;
  }

  &__text-change-password {
    color: #2d283e;
    font-size: 1.43rem;
    font-weight: 600;
    margin: 1.5em 0;
    text-align: center;
  }

  &__new-password {
    margin-bottom: 0;

    & .profile-settings-form__password-container:last-of-type {
      margin-top: 0.4em;
      margin-bottom: 2.15em;
    }
  }

  &__error-text {
    margin: 0.4em;
    font-size: 0.8rem;
    color: red;
  }

  &__show-mature-content {
    margin-block: 2.25em;
  }

  &__notifications {
    & label {
      margin-bottom: 0.8em;
    }

    & label:last-of-type {
      margin-bottom: 2.25em;
    }
  }
}

.settings-container {
  position: relative;
  z-index: 2;

  @include mediaMax($device-XL) {
    background: white;
  }
}

.fieldset-container {
  @include mediaMin($device-XL) {
    padding: 12.7em 9em 2.2em;
    border-radius: 20px;
    background-color: white;
  }
}

.fieldset-container--without-pt {
  @include mediaMin($device-XL) {
    padding: 2.5em 9em 2.2em;
    border-radius: 20px;
    background-color: white;
  }
}

.settings-container {
  position: relative;
  z-index: 2;

  @include mediaMax($device-XL) {
    background: white;
  }
}

.fieldset-container {
  @include mediaMin($device-XL) {
    padding: 12.7em 9em 2.2em;
    border-radius: 20px;
    background-color: white;
  }
}

.fieldset-container--without-pt {
  @include mediaMin($device-XL) {
    padding: 2.5em 9em 2.2em;
    border-radius: 20px;
    background-color: white;
  }
}
