@use '../../../styles/global' as *;

.emptystyle {
  color: red;
}

.text {
  margin-bottom: 0.5em;
  width: max-content;
  @include themeText;
}

.btns-container {
  @include flex($gap: 0.57em);
  margin: 0 auto;

  &__back-btn {
    border: 1px solid $main-color;
    font-size: 0.86rem;
    padding: 0.5em 2em;
    background: white;
    color: $main-color;
    border-radius: 250px;
  }

  &__next-btn {
    padding: 0.5em 2em;
    border: none;
    font-size: 0.86rem;
    color: white;
    background-color: $main-color;
    border-radius: 250px;

    &:disabled {
      background: rgba($main-color, 0.6);
    }
  }
}

.bold {
  font-weight: 600;
}
