@use '../../../styles/global' as *;

.card {
  &__img {
    position: relative;
    border-radius: 10px;
    width: clamp(6.429em, 5.114em + 5.75vw, 13em);
    height: clamp(8.214em, 6.729em + 6.2vw, 15.643em);
    background: #e8e8e8;
    margin-bottom: 0.4em;
  }

  &__text {
    color: #2d283e;
    font-weight: 500;
    line-height: normal;
    font-size: clamp(1rem, 0.92rem + 0.25vw, 1.28rem);
  }

  &__like {
    cursor: pointer;
    position: absolute;
    top: 7%;
    right: 6%;
    transition: all 0.3s;
    fill: white;
    transform: scale(1);
    width: clamp(1.071rem, 0.625vw + 0.929rem, 1.786rem);
    height: clamp(1.071rem, 0.625vw + 0.929rem, 1.786rem);

    & > path {
      fill: inherit;
      transition: all 0.2s;
    }

    &--liked {
      fill: red;
      animation: like 0.3s ease-in-out 1 forwards;

      @keyframes like {
        0% {
          transform: scale(0.5);
        }

        100% {
          transform: scale(1.3);
        }
      }
    }
  }
}
