@use '../../styles/global' as *;

.profile-header {
  background: white;
}

.profile {
  &__img {
    position: relative;
    top: 50px;
    width: 85px;
    height: 85px;
    border: 6px solid white;
    border-radius: 200px;
  }

  &__wallpaper {
    display: flex;
    justify-content: center;
    align-items: end;
    max-height: 62px;
    height: 100%;
    background-image: url('./../../../public/profile-wallpaper.svg');
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 4em;
  }

  &__change {
    color: $main-color;
    font-size: 0.86rem;
    font-weight: 600;
    @include flex($gap: 0.5em, $align: end);
    line-height: normal;
    margin-bottom: 2.5em;
  }
}

.label {
  &__input {
    @include focus($outline: 1px solid #807d7d);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
    border: none;
    border-radius: 562px;
    padding: 0.5em 1em;
    color: black;
    background-color: #f2effe;
    text-align: left;
    width: 100%;

    &::placeholder {
      color: #cabdfc;
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 15px;
    }
  }

  &__textarea {
    resize: none;
    width: 100%;
    min-height: 150px;
    @include focus($outline: 1px solid #807d7d);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
    border: none;
    padding: 0.5em 1em;
    color: black;
    background-color: #f2effe;
    text-align: left;
    border-radius: 10px;

    &::placeholder {
      color: #cabdfc;
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 15px;
    }
  }
}

.birth-date {
  &__input {
    width: fit-content;
  }
}

.radio-btn {
  &__label {
    @include flex($gap: 0.8em, $justify: flex-start);
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.8em;
    margin-bottom: 2.25em;

    &:has(input:checked) {
      & > span {
        background: radial-gradient(6px 6px at center, #7a5af8 70%, white 30%);
      }
    }

    &:has(input:active) {
      & > span {
        box-shadow: 0px 0px 0px 4px #e4defe;
      }
    }
  }

  &__circle {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    border: 1px solid $main-color;
    border-radius: 100px;
    transition: all 0.4s;
  }

  &__input {
    display: none;
  }
}

.profile-settings-form {
  &__text-label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
  }

  &__label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    @include flex($dir: column, $gap: 0.4em, $align: flex-start);
    margin-bottom: 1.8em;
  }

  &__radio-btn-container {
    @include flex($dir: row, $justify: space-between, $align: flex-start, $wrap: nowrap);
  }

  &__add-link {
    @include flex($gap: 1em, $justify: flex-start);
    color: #7a5af8;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.8em;
    margin-bottom: 2.25em;
  }

  &__text-change-password {
    color: #2d283e;
    font-size: 1.43rem;
    font-weight: 600;
    margin: 1.5em 0;
    text-align: center;
  }

  &__new-password {
    margin-bottom: 0;

    & input:last-of-type {
      margin-top: 0.4em;
      margin-bottom: 2.15em;
    }
  }

  &__show-mature-content {
    margin-block: 2.25em;
  }
  &__notifications {
    & label {
      margin-bottom: 0.8em;
    }

    & label:last-of-type {
      margin-bottom: 2.25em;
    }
  }
}
.save-btn {
  @include flex($gap: 0, $justify: center, $align: center, $dir: row, $wrap: nowrap);
  margin-bottom: 1.8em;
  padding: 10px 24px;
  gap: 10px;
  background: #7a5af8;
  border-radius: 999px;
  color: white;
  border: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
}
