.comics-page {
  scroll-snap-align: center;
  height: 100dvh; // Высота секции — эквивалент экрана
  width: 100%; // Полная ширина

  &__scrollable {
    max-height: 100%; // Контейнер ограничивает высоту экрана
    overflow-y: auto; // Включает вертикальную прокрутку
  }

  &__item {
    width: 100%;
    height: auto;
    object-fit: contain; // Вписываем изображение
  }
}
