@use '../../styles/global' as *;

.header {
  @include flex($gap: 55px);
  @include themeBackground;
  padding-top: 0.78em;
  padding-bottom: 0.78em;
  z-index: 100;
  position: fixed;

  &__title {
    @include themeText;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
  }

  &__button {
    width: 20px;
    height: 20px;
  }
}
