@use '../../styles/global' as *;
.popular {
  &__backLink {
    align-self: flex-start;
    margin-bottom: 0.8em;
  }
}
.container {
  max-width: calc(2560px + 2 * .9375em);
	margin: 0 auto;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	@media (min-width:768px) {
		max-width: calc(2560px + 2 * clamp(5rem, 12.587vw - 1.905rem, 15.357rem));
		padding-left: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
		padding-right: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
	}
}