@use '../../../styles/mixins' as *;

.link {
  @include flex($gap: 6px);
  @include themeArrowLink;
  width: max-content;
  font-size: clamp(0.858rem, 0.74rem + 0.5vw, 1.42rem);
  font-weight: 600;
  line-height: 15px;
  text-decoration: none;
}
